# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



# Angular

# compiled output
/resources/frontend/customerApp/dist
/resources/frontend/customerApp/tmp
/resources/frontend/customerApp/out-tsc

# Only exists if Bazel was run
/resources/frontend/customerApp/bazel-out

# dependencies
/resources/frontend/customerApp/node_modules

# profiling files
/resources/frontend/customerApp/chrome-profiler-events*.json

# System Files
/resources/frontend/customerApp/.DS_Store
/resources/frontend/customerApp/Thumbs.db
